@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Ysabeau:wght@600&display=swap");





div{
    position: relative;
}

div img  {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
}

div article p img{
    
    width: auto;
    height: auto;
    float: right;
}

div p{
    position: absolute;
    top: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #dddddd68;    
    color: #000;
}


.facebook {
    width: 50px;
    height: 50px;
}

.twitter {
    width: 50px;
    height: 50px;
}

.instagram {
    width: 50px;
    height: 50px;
}







