@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Ysabeau:wght@600&display=swap');

:root {
    --primary-color: #3a5a40
    --secondary-color: #588157
    --accent1-color: #a3b18a
    --accent2-color: #dad7cd

    --heading-font: 'Ysabeau', serif;
    --paragraph-font: 'Source Sans Pro', serif: 

    --nav-background-color: #3a5a40
    --nav-link-color: #588157
    --nav-hover-link-color: #a3b18a 
    --nav-hover-background-color: #dad7cd 
}

body {
    font-family: var(--paragraph-font);
    m_____: _____;
    p_____: _____;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
